.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.myDialog {
  zoom: 90%;
}

::ng-deep .mat-slider-thumb-label {
  background-color: rgb(79, 101, 132) !important;;
}

::ng-deep .mat-slider-track-fill {
  background-color: rgb(79, 101, 132) !important;;
}

::ng-deep .mat-slider-thumb {
  background-color: rgb(63, 166, 173) !important;
}

::ng-deep .custom-slide-toggle .mat-slide-toggle-thumb {
  background-color: rgb(63, 166, 173) !important;
}

::ng-deep .custom-slide-toggle .mat-slide-toggle-bar {
  background-color: rgba(31, 41, 55, 0.5) !important;
}

.pro-user {
  color: rgb(63, 166, 173);
}
