<mat-dialog-content class="myDialog mat-typography flex flex-col h-full">
    <form [formGroup]="boardForm">
        <div class="flex flex-col w-full">
            <div class="flex justify-between w-full">
                <mat-form-field appearance="fill" class="flex-grow">
                    <mat-label>Name</mat-label>
                    <input matInput required type="text" formControlName="name" class="w-full" />
                </mat-form-field>
            </div>
            <div class="flex justify-between w-full">
                <mat-form-field appearance="fill" class="flex-grow">
                    <mat-label>TimeLength</mat-label>
                    <input matInput required type="number" formControlName="timeLength" class="w-full" />
                </mat-form-field>
            </div>

            <div class="flex justify-between w-full">
                <mat-form-field appearance="fill" class="flex-grow">
                    <mat-label>Description</mat-label>
                    <input matInput required type="description" formControlName="description" class="w-full" />
                </mat-form-field>
            </div>

            <div class="flex justify-between w-full">
                <mat-form-field appearance="fill" class="flex-grow">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type" required>
                        <mat-option value="public">Public</mat-option>
                        <mat-option value="private">Private</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
    <mat-dialog-actions class="mt-auto">
        <button mat-button (click)="onSave()">Save</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</mat-dialog-content>