<app-sidebar></app-sidebar>
<div class="flex flex-row">
    <div class="p-8 pt-12 sm:ml-64 basis-3/4">
        <div class="example-container">
            <h2>To do</h2>
            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="toDo" [cdkDropListConnectedTo]="[doneList]"
                class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of toDo" cdkDrag [ngClass]="'example-box-todo'">
                    {{item}}</div>
            </div>
        </div>

        <div class="example-container">
            <h2>Done</h2>
            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
                class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done" cdkDrag [cdkDragDisabled]="true"
                    [ngClass]="'example-box-done'">{{item}}</div>
            </div>
        </div>
    </div>
    <div class="pt-11 basis-1/4">
        <!-- <mat-list>
            <h2>My boards</h2> 
            <mat-list-item role="listitem" class="cursor-pointer hover:text-xl hover:text-blue-500"
                *ngFor="let item of myBoards; let i = index" (click)="onItemClick(i)">
                 {{item}}
            </mat-list-item>
        </mat-list> -->

        <mat-selection-list #shoes [multiple]="false">
            <h2>My boards</h2>
            <mat-list-option *ngFor="let item of myBoards" [value]="item">
                {{item}}
            </mat-list-option>
        </mat-selection-list>

    </div>


</div>