<mat-dialog-content class="myDialog mat-typography flex flex-col h-full">
  <form [formGroup]="boardForm" class="flex flex-col w-full">
    <div class="flex justify-between w-full mb-4">
      <mat-form-field appearance="fill" class="flex-grow">
        <mat-label>Board name</mat-label>
        <input matInput required type="text" formControlName="name" />
      </mat-form-field>
    </div>
    <div class="flex justify-between w-full mb-4 items-center">
      <span class="mr-2">Duration (weeks): {{ boardForm.get('timeLength')?.value }}</span>
      <span class="ml-2"></span>
    </div>
    <div class="flex justify-between w-full mb-4">
      <mat-form-field appearance="fill" class="flex-grow">
        <mat-label>Description</mat-label>
        <textarea matInput required formControlName="description" rows="4"></textarea>
      </mat-form-field>
    </div>
    <div class="flex items-center w-full mb-4">
      <span class="mr-2">Private</span>
      <mat-slide-toggle formControlName="isPublic"></mat-slide-toggle>
      <span class="ml-2">Public</span>
    </div>
  </form>

  <mat-dialog-actions class="mt-auto">
    <button mat-button *ngIf="isEditable" (click)="onSave()" [disabled]="!boardForm.valid">Save</button>
    <button mat-button *ngIf="!isEditable" (click)="toggleEdit()">Edit</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</mat-dialog-content>
