<app-sidebar></app-sidebar>

<div class="p-8 sm:ml-64">
    <div>
        <div class="p-4">
            <h1 class="text-2xl font-bold mb-4">Edit Profile</h1>
            <form [formGroup]="profileForm">
                <div class="flex flex-col w-full">
                    <div class="flex justify-between w-full">
                        <mat-form-field appearance="fill" class="flex-grow">
                            <mat-label>ID</mat-label>
                            <input matInput required type="number" formControlName="id" class="w-full">
                        </mat-form-field>
                    </div>
                    <div class="flex justify-between w-full">
                        <mat-form-field appearance="fill" class="flex-grow">
                            <mat-label>Name</mat-label>
                            <input matInput required type="text" formControlName="name" class="w-full">
                        </mat-form-field>
                    </div>
                    <div class="flex justify-between w-full">
                        <mat-form-field appearance="fill" class="flex-grow">
                            <mat-label>Email</mat-label>
                            <input matInput required type="email" formControlName="email" class="w-full">
                        </mat-form-field>
                    </div>
                    <div class="flex justify-between w-full">
                        <mat-form-field appearance="fill" class="flex-grow">
                            <mat-label>Password</mat-label>
                            <input matInput required type="password" formControlName="password" class="w-full">
                        </mat-form-field>
                    </div>
                </div>
                <div class="mt-auto">
                    <button *ngIf="!formEditable" mat-button (click)="toggleEditable()">Edit</button>
                    <button *ngIf="formEditable" mat-button (click)="onSave()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
