.card {
    width: 20rem;
}

.card:hover {
    transform: scale(1.01);
    transition: 0.5s;
}

.card:hover p {
    color: white;
}

.arrow {
    font-size: 1rem;
}

.heart {
    font-size: 2rem;
}

.card:hover .card-name {
    text-decoration: underline;
}